body {
  background: whitesmoke;
  min-width: 400px;
}

.app {
  padding: 0.1rem 1rem;
  text-align: center;
}

.header {
  margin: 12px 0;
}

.header h2 {
  text-transform: capitalize;
  color: darkorange;
  font-size: 2rem;

  font-family: 'Space Grotesk', sans-serif;


  outline: solid 1px black;
  border-radius: 6px;

  text-shadow: 1px 1px rgba(0, 0, 0, 0.489);
  padding-bottom: 4px;
}


.nav-div {
  display: grid;

  background: rgba(254, 177, 237, 0.73);

  max-height: max-content;
  max-width: max-content;
}

.nav-div button {
  margin: 0.6rem;

  box-sizing: content-box;
  padding: 0rem;
  border: 1px solid black;

  height: 3.2rem;
  width: 3.2rem;

  border-radius: 8px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #9b9b9b,
    -20px -20px 60px #ffffff;
}

.nav-div button img {
  padding: 0.8rem;
}

.main-div {
  margin: 0 auto;
  width: min-content;
}

.footer {
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;

}

.footer img {
  height: 2rem;
  margin: 0 auto;
}